*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgba(34, 29, 29, 0.105);
}

.container {
  width: 40%;
  top: 50%;
  left: 50%;
  background: white;
  border: 2px solid rgba(18, 15, 15, 0.153);
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%, -50%);
}

.checkbox {
  display: flex;
  flex-direction: row;
}

.listoftodo ul li {
  list-style: none;
  border-bottom: 1px solid #dbd8d7;
  color: rgba(0, 0, 0, 0.358);
  font-size: 19px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.completed {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#cleartodo {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.303);
  font-size: 20px;
}

#newtask {
  position: relative;
  padding: 30px 20px;
}

#textinput {
  width: 75%;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 15px;
}

#newtask input:focus {
  outline: none;
}

#newtask button {
  position: relative;
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.16);
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 20%;
  height: 45px;
  font-family: 'Poppins', sans-serif;
}

#tasks {
  border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  margin-top: 10px;
}

.task {
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
}

.task span {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.task button {
  background-color: black;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  height: 100%;
  width: 40px;
  border-radius: 5px;
}

.topcontent img {
  width: 17px;
  margin-bottom: 13px;
}

.topcontent h3 {
  margin-bottom: 13px;
  color: grey;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.topcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbd8d7;
}

#squareicon {
  width: 20px;
}
